    <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
            <div>
                <div class="text-center" id="footer-style-1">
                    <div class="big-icon text-center">
                        <a class="christamas-gold" href="https://www.facebook.com/andranise.flowers"><i class="fab fa-facebook-square"></i></a>
                    </div>
                    <div class="big-icon text-center">
                        <a href="https://www.instagram.com/_heavenkissd/"><i class="fab fa-instagram"></i></a>                        
                    </div>
                </div>
                <div class="footer-copyright py-3 text-center" id="footer-style-2">
                    © 2018 Copyright: Glowing Gracefully LLC<br>
                    Created by <a href="http://www.checkthamethod.com/">Bryan Harris</a>
                </div>
                    
            </div>
                    
        </footer>
        <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.min.js"></script> -->
    </body>
</html>