<% include partials/header %>
<div class="container-fluid">
    <!-- parallax1 -->
    <div class="row parallax"></div>

    <div class="container" id="About">
        <div class="row" id="myStory">
            <div class="col-md-3">
                <img src="/img/Andranise_crown.jpg" class="img-responsive img-rounded">
            </div>
            <div class="col-md-9">
                <h1>My Story</h1>
                <p>Donec bibendum arcu ac augue ullamcorper scelerisque. Pellentesque sodales sollicitudin ultricies. Aliquam finibus nec nulla ut luctus. Integer commodo congue feugiat. Vestibulum lobortis, quam quis malesuada facilisis, nibh erat tincidunt lacus, ullamcorper interdum libero purus vestibulum velit.</p>
            </div>
        </div>
        <div class="row" id="myProducts">
            <div class="col-md-3">
                <img src="/img/slide_img3.jpg" class="img-responsive img-rounded">
            </div>
            <div class="col-md-9">
                <h1>My Products</h1>
                <p>Donec bibendum arcu ac augue ullamcorper scelerisque. Pellentesque sodales sollicitudin ultricies. Aliquam finibus nec nulla ut luctus. Integer commodo congue feugiat. Vestibulum lobortis, quam quis malesuada facilisis, nibh erat tincidunt lacus, ullamcorper interdum libero purus vestibulum velit:</p>
                <ul>
                    <li>
                        <h3 class="secondary-fontchange">Product Guarantee 1</h3>
                        <p>Donec pharetra sed eros nec congue.</p>
                    </li>
                    <li>
                        <h3 class="secondary-fontchange">Product Guarantee 2</h3>
                        <p>Aenean hendrerit nec urna eget rhoncus.</p>
                    </li>
                    <li>
                        <h3 class="secondary-fontchange">Product Guarantee 3</h3>
                        <p>Curabitur gravida arcu consequat venenatis vestibulum.</p>
                    </li>
                    <li>
                        <h3 class="secondary-fontchange">Product Guarantee 4</h3>
                        <p>Ut tellus leo, tristique id massa ut, dictum vestibulum sapien. </p>
                    </li>
                </ul>
            </div>
        </div>
        <div></div>
    </div>

</div>
<% include partials/footer %>