<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="../public/scripts/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar" id="nav-menu">
            <div class="container-fluid">
                <!-- Hamburger Menu -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" onclick="myFunction(this)" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" id="bar1"></span>
                        <span class="icon-bar" id="bar2"></span>
                        <span class="icon-bar" id="bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
                <!-- Navbar buttons -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="navbar">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact Me</a></li>
                    </ul>
                </div>
                
            </div>
            
        </nav>
        <div class="container">
            <h1>Welcome</h1>
        </div>
        
        <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
            <div>
                
            </div>
        </footer>
    </body>
</html>