<% include partials/header %>
<div class="container-fluid">
    <!-- parallax1 -->
    <div class="row parallax"></div>
    
    <!-- middle grid -->
    <div class="row middle-grid">
        <div class="col-md-4 grid-padding text-center">
            <h1 class="text-center grid-header-font"><a>Specials</a></h1>
            <a href="#">
                <img src="https://img.aws.livestrongcdn.com/ls-article-image-673/ds-photo/getty/article/176/229/113565772.jpg" class="img-rounded">
            </a>
            <p>Fusce eu sem rhoncus, consectetur metus at, viverra nibh. Curabitur accumsan porttitor metus et tempor. Nullam id dignissim elit, vitae ultrices ipsum. Ut sit amet justo a dolor condimentum posuere ultrices non odio.</p>
        </div>
        <div class="col-md-4 grid-padding text-center">
            <h1 class="text-center grid-header-font"><a>Popular Items</a></h1>
            <a href="#">
                <img src="https://healthybutsmart.com/wp-content/uploads/2017/08/Sheabutter-virginsheabutter-min.jpg" class="img-rounded">
            </a>
            <p>Fusce eu sem rhoncus, consectetur metus at, viverra nibh. Curabitur accumsan porttitor metus et tempor. Nullam id dignissim elit, vitae ultrices ipsum. Ut sit amet justo a dolor condimentum posuere ultrices non odio.</p>
        </div>
        <div class="col-md-4 grid-padding text-center">
            <h1 class="text-center grid-header-font"><a>New Products</a></h1>
            <a href="#">
                <img src="https://img.aws.livestrongcdn.com/ls-article-image-673/ds-photo/getty/article/176/229/113565772.jpg" class="img-rounded">
            </a>
            <p>Fusce eu sem rhoncus, consectetur metus at, viverra nibh. Curabitur accumsan porttitor metus et tempor. Nullam id dignissim elit, vitae ultrices ipsum. Ut sit amet justo a dolor condimentum posuere ultrices non odio.</p>
        </div>
    </div>

</div>
<!-- parallax 2 -->
<div class="parallax2"></div>

<% include partials/footer %>