<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> 
        <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.css"/> -->
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <script src="../public/scripts/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"></script>
        
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar" id="brand">
            <div class="container text-center">
                <h1><a class="christmas-gold" href="index.html">Syncerity</a></h1>
                <div id="caption" class="row text-center" id="header-slogan">
                    <h1>"Self-care is the best care-mind, body, and spirit"</h1>
                </div>
            </div>
        </nav>
        <nav class="navbar" id="nav-menu">
            <div class="container-fluid">
                <!-- Hamburger Menu -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" onclick="myFunction(this)" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" id="bar1"></span>
                        <span class="icon-bar" id="bar2"></span>
                        <span class="icon-bar" id="bar3"></span>
                    </button>
                </div>
                <!-- Navbar buttons -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="navbar">
                        <li><a class="navlink un" href="index.html">Home</a></li>
                        <li><a class="navlink un" href="about.html">About Me</a></li>
                        <li><a class="navlink un" href="products.html">Products</a></li>
                        <li><a class="navlink un" href="contact.html">Contact Me</a></li>
                    </ul>
                     
                </div>
            </div>
            
        </nav>
        <div class="container-fluid">
            <!-- parallax1 -->
            <div class="row parallax"></div>
            
            <!-- middle grid -->
            <div class="row middle-grid">
                <div class="col-md-4 grid-padding text-center">
                    <h1 class="text-center grid-header-font"><a>Specials</a></h1>
                    <a href="#">
                        <img src="https://img.aws.livestrongcdn.com/ls-article-image-673/ds-photo/getty/article/176/229/113565772.jpg" class="img-rounded">
                    </a>
                    <p>Fusce eu sem rhoncus, consectetur metus at, viverra nibh. Curabitur accumsan porttitor metus et tempor. Nullam id dignissim elit, vitae ultrices ipsum. Ut sit amet justo a dolor condimentum posuere ultrices non odio.</p>
                </div>
                <div class="col-md-4 grid-padding text-center">
                    <h1 class="text-center grid-header-font"><a>Popular Items</a></h1>
                    <a href="#">
                        <img src="https://healthybutsmart.com/wp-content/uploads/2017/08/Sheabutter-virginsheabutter-min.jpg" class="img-rounded">
                    </a>
                    <p>Fusce eu sem rhoncus, consectetur metus at, viverra nibh. Curabitur accumsan porttitor metus et tempor. Nullam id dignissim elit, vitae ultrices ipsum. Ut sit amet justo a dolor condimentum posuere ultrices non odio.</p>
                </div>
                <div class="col-md-4 grid-padding text-center">
                    <h1 class="text-center grid-header-font"><a>New Products</a></h1>
                    <a href="#">
                        <img src="https://img.aws.livestrongcdn.com/ls-article-image-673/ds-photo/getty/article/176/229/113565772.jpg" class="img-rounded">
                    </a>
                    <p>Fusce eu sem rhoncus, consectetur metus at, viverra nibh. Curabitur accumsan porttitor metus et tempor. Nullam id dignissim elit, vitae ultrices ipsum. Ut sit amet justo a dolor condimentum posuere ultrices non odio.</p>
                </div>
            </div>

        </div>
        <!-- parallax 2 -->
        <div class="parallax2"></div>
        
        <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
            <div>
                <div class="text-center" id="footer-style-1">
                    <div class="big-icon text-center">
                        <a class="christamas-gold" href="https://www.facebook.com/andranise.flowers"><i class="fab fa-facebook-square"></i></a>
                    </div>
                    <div class="big-icon text-center">
                        <a href="https://www.instagram.com/_heavenkissd/"><i class="fab fa-instagram"></i></a>                        
                    </div>
                </div>
                <div class="footer-copyright py-3 text-center" id="footer-style-2">
                    © 2018 Copyright: Glowing Gracefully LLC<br>
                    Created by <a href="http://www.checkthamethod.com/">Bryan Harris</a>
                </div>
                 
            </div>
                  
        </footer>
        <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.min.js"></script> -->
    </body>
</html>